body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333;
}

body.dark-mode {
    background-color: #212121;
    color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .button-image {
    width: 30px;
}
header .logo {
    position: fixed;
}

header #button-change-theme {
    background: none;
    border: none;
}

header .logo:hover,
header .button-image:hover,
main .pokemon-card:hover {
    transform: scale(1.07);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

main {
    padding: 25px;
}

main .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .pokemon-card {
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    border: 1px solid black

}

main .pokemon-card:hover {
    background-color: #96d9d6;

}

.dark-mode .pokemon-card {
    background-color: #a8a8a8;
}


main .pokemon-card .infos {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 10px;
}

main .pokemon-card .infos span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    
}

main .pokemon-card .infos .poke-info {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

/* main .pokemon-card .gif{
    width: 90px;
    height: 90px;
    background-color: pink;
} */

main .pokemon-card .type {
    display: flex;
    gap: 15px;
}

main .pokemon-card .Grass-type,
.Poison-type,
.Fire-type,
.Flying-type,
.Water-type,
.Bug-type,
.Ghost-type,
.Fighting-type,
.Steel-type,
.Ice-type,
.Psychic-type,
.Dark-type {
    padding: 8px;
    border-radius: 10px;
}

main .pokemon-card .Grass-type {
    background-color: #7ac74c;
}

main .pokemon-card .Poison-type {
    background-color: #df67ddfb;
}

main .pokemon-card .Fire-type {
    background-color: #ee8130;
}

main .pokemon-card .Flying-type {
    background-image: linear-gradient(to bottom, #3dc7ef,#bdb9b8);
}

main .pokemon-card .Water-type {
    background-color: #6390f0;
}

main .pokemon-card .Bug-type {
    background-color: #a6b91a;
}

main .pokemon-card .Ghost-type {
    background-color: #4e054d9c;
    color: whitesmoke;
}

main .pokemon-card .Fighting-type {
    background-color: #d56723;
}

main .pokemon-card .Steel-type {
    background-color: #9eb7b8;
}

main .pokemon-card .Ice-type {
    background-color: #51c4e7;
}

main .pokemon-card .Psychic-type {
    background-color: #f366b9;
}

main .pokemon-card .Dark-type {
    background-color: #707070;
    color: whitesmoke;
}

main .description {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}